header {
  overflow: hidden;
  background-image: linear-gradient(to right, $color_primary_light, $color_primary_dark);
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 3rem;
  z-index: 10;
  box-shadow: inset 0 0 20px green;
  
  & a {    
    padding: 1.4rem;
    display: block;
    text-align: center;
    text-decoration: none;
  }
  
  & .website-name {
    color: $color-blue-dark;
    font-size: 2.4rem;
    font-weight: bolder;
  }
}

main {
  padding: 6rem 0;
}
