.createArticle {
  width: auto;
  display: block;
  margin: 4rem;
  padding: 2rem;
  padding-bottom: 7rem;
  border-radius: 3px;
  background-color: $color-gray-light;
  
  & h1 {
    background-color: rgba($color-black, .1);
    padding: 2rem;
    font-size: 4rem;
    border-radius: 3px;
  }

  & .label_header {
    display: inline-block;
    padding: 1rem .3rem;
    font-size: 2.5rem;
  }

  &__header {

    & input {
      width: 100%;
      padding: 1rem;
      border-radius: 3px;
      font-size: 2.6rem;
      border-width: 0;
    }
  }

  &__body {
    margin-top: 2rem;
    position: relative;

    & textarea {
      position: relative;
      display: block;
      width: 100%;
      height: 100vh;
      padding: 1rem;
      border-radius: 3px;
      font-size: 1.8rem;
      border-width: 0;
      resize: none;
    }
  }
}

.btn {
  width: 12rem;
  height: 5rem;
  padding: 10px 20px;
  margin: 1rem .4rem;
  float: right;
  font-size: 1.8rem;
  border-radius: 3px;
  box-shadow: 0 .6rem 1rem rgba($color-black, .1);
  border: 2px solid $color-gray-dark;
  transition: all 0.3s ease;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
}

.btn-primary:hover {
  background-color: #0069d9;
}
