.homePage {
  
  &__header {
    margin-bottom: 4rem;
    border-radius: 4px;
    padding: 1rem;
    background-color: $color-grey-light-2;
    box-shadow: 0 2rem 3rem rgba($color-black, $alpha: .1);

    & h2 {
      font-size: 3rem;
    }
  }

  &__body {
    border-radius: 4px;
    padding: 1rem;
    background-color: $color-grey-light-1;
    box-shadow: 0 2rem 3rem rgba($color-black, $alpha: .1);

    & p {
      line-height: 3rem;
      font-size: 1.6rem;
    }
  }
}