// COLORS

$color_primary: #55c57a;
$color_primary_light: #71d56f;
$color_primary_dark: #28b485;
$color-gray-green: #9dbd93;
$color-gray-dark: #777;
$color-gray-light: #e0e7ee;
$color-white: #fff;
$color-black: #000;
$color-blue-dark: #242f76;
$color-grey-light-1: #e4e4e4;
$color-grey-light-2: #a0afb4;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

// FONT

$default-font-size: 1.6rem;

// GRID

$grid-width: 100rem;
$grid-horizontal: 6rem;
$grid-horizontal-small: 3rem;

$grid-vertical: 5rem;
$grid-line_height: 4rem;

//